<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibea.fides">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_v02"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".MyAlarmBroadcastReceiver" />

        <activity
            android:name=".ui.activities.LogInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.CreateAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ShiftsCreateActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ShiftDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AdminActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.FaqActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.VolunteerProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.activities.OrganizationProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.activities.VolunteerSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.OrganizationSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ui.activities.VolunteerOrOrganizationActivity" />
        <activity android:name=".ui.activities.CreateVolunteerActivity" />
        <activity android:name=".ui.activities.CreateOrganizationActivity"></activity>
    </application>

</manifest>