<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibea.fides">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_v02"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.LogInActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".ui.activities.CreateAccountActivity" />
        <activity
            android:name=".ui.activities.ShiftsCreateActivity"
            android:noHistory="true" />
        <activity android:name=".ui.activities.ShiftDetailsActivity" />
        <activity android:name=".ui.activities.AdminActivity" />
        <activity android:name=".ui.activities.IntroActivity" />
        <activity android:name=".ui.activities.IntroOrganizationActivity" />
        <activity
            android:name=".ui.activities.VolunteerProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.OrganizationProfileActivity"
            android:exported="true" />
        <activity android:name=".ui.activities.VolunteerSettingsActivity" />
        <activity android:name=".ui.activities.OrganizationSettingsActivity" />
        <activity android:name=".ui.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.CreateUserAccountActivity" />
        <activity android:name=".ui.activities.SearchActivity" />
        <activity android:name=".ui.activities.FaqActivity"></activity>
    </application>

</manifest>