<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibea.fides">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseActivity" />
        <activity android:name=".ui.CreateAccountActivity" />
        <activity android:name=".ui._FORNOW_HomeActivity" />
        <activity android:name=".ui.ShiftsCreateActivity" />
        <activity android:name=".ui._FORNOW_ShiftsTestingActivity" />
        <activity android:name=".ui._TOGO_ShiftsSearchActivity" />
        <activity android:name=".ui.ShiftDetailsActivity" />
        <activity android:name=".ui.OrganizationApplicationActivity" />
        <activity android:name=".ui.AdminActivity" />
        <activity android:name=".ui.IntroActivity" />
        <activity
            android:name=".ui.MainActivity_Volunteer"
            android:exported="true" />
        <activity android:name=".ui._FORNOW_FragmentTestingActivity" />
        <activity
            android:name=".ui.MainActivity_Organization"
            android:exported="true" />
        <activity android:name=".ui.SettingsActivity"></activity>
    </application>

</manifest>